@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;800&display=swap");
/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
} */
@media (max-width: 680px)
{
 
  .bodysss .containersss .cardsss{
    min-width: 300px!important;
    height: 480px!important;
    margin-left: 16%!important;
    margin-top: 16%!important;
  }
}
 .bodysss {
  display: flex;
  flex-direction: row;
  margin: 1vw;
  justify-content: center;
  align-items: center;
  /* flex-wrap: wrap; */
  min-height: 40vh;
  /* background: #232427; */
} 

.bodysss .containersss {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 800px;
  /* margin: 40px 0; */
}

.bodysss .containersss .cardsss{
   position: relative; 
  min-width: 320px;
  height: 440px;
  box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.2),
    inset -5px -5px 15px rgba(255, 255, 255, 0.1),
    5px 5px 15px rgba(0, 0, 0, 0.3), -5px -5px 15px #10a8c3;
  border-radius: 15px;
  margin: 30px;
  transition: 0.5s;
}

.bodysss .containersss .cardsss:nth-child(1) .box .content a {
  background: #2196f3;
}

.bodysss .containersss .cardsss:nth-child(2) .box .content a {
  background: #e91e63;
}

.bodysss .containersss .cardsss:nth-child(3) .box .content a {
  background: #23c186;
}

.bodysss .containersss .cardsss .boxsss {
  position: absolute;
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  background: black;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: 0.5s;
}

.bodysss .containersss .cardsss .boxsss:hover {
  transform: translateY(-50px);
}

.bodysss .containersss .cardsss .boxsss:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: rgba(255, 255, 255, 0.03);
}

.bodysss .containersss .cardsss .boxsss .contentsss {
  padding: 20px;
  text-align: center;
}

.bodysss .containersss .cardsss .boxsss .contentsss .headss {
  position: absolute;
  top: 10px;
  right: 30px;
  font-size: 2.3rem;
  color: goldenrod;
}

.bodysss .containersss .cardsss .boxsss .contentsss .subheadss {
  font-size: 2.5rem;
  font-weight: 600;
  color: #10a8c3;
  z-index: 1;
  transition: 0.5s;
  margin-bottom: 15px;
}
.bodysss .containersss .cardsss .boxsss .contentsss p {
    display: flex;
    flex-direction: column;
    /* padding:.1rem; */
    align-items: center;
  font-size: 1rem;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.9);
  z-index: 1;
  transition: 0.5s;
}

.bodysss .containersss .cardsss .boxsss.content a {
  position: relative;
  display: inline-block;
  padding: 8px 20px;
  background: black;
  border-radius: 5px;
  text-decoration: none;
  color: white;
  margin-top: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  transition: 0.5s;
}
.body .containersss .cardsss .boxsss .content a:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.6);
  background: #fff;
  color: #000;
}

